.register{
    position: relative;
}
.registerWrapper{
    /* overflow-x: hidden; */
    height: calc(100vh );
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-image: linear-gradient(to left, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%); */
    /* background: url("https://images.pexels.com/photos/2101187/pexels-photo-2101187.jpeg?auto=compress&cs=tinysrgb&w=400"); */
    background: url("https://images.unsplash.com/photo-1487700160041-babef9c3cb55?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGxvZ2lufGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
    background-size: contain;
    align-items: center;
    position: absolute;
    top:-60px;
    width: 100%;
    z-index: -1;;
 
}
.registerWrapper > span{
    font-size: 50px;
    font-family: 'lora','Courier New', Courier, monospace;
}

.registerForm{
    margin-top:20px;
    display: flex;
    flex-direction: column;

}
.registerForm > label{
    font-family: 'lora','Courier New', Courier, monospace;
    font-size: 20px;
    margin: 10px 0px;


}
.registerInput{
   padding: 10px 10px;
   font-size: 18px;
   margin-bottom: 20px;
   outline: none;
   border: none;
   border: 1px solid #464343;
   border-radius: 4px;
   background-color: transparent;
}
.registerButton{
    padding: 10px ;
    color: aliceblue;
    background-color: lightcoral;
    border:none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 0px;
}
.registerButton:disabled{
    cursor: not-allowed;
    background-color: antiquewhite;
}