.home {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: start;
  overflow-y: hidden;
  background-image: url(https://cdn.pixabay.com/photo/2017/12/10/20/56/feather-3010848_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* height: 100vh; Set the height to viewport height */
}

/* Media query for screens with a max-width of 768px (tablets and smaller) */
@media screen and (max-width: 768px) {
  .home {
    background-size: cover;
    /* Reset background-size */
    background-position: center;
    /* Center the background image */
    transform: none;
    /* Reset rotation */
    flex-direction: column;
    overflow-x: hidden;
  }
}