.sidebar {

    flex: 3;
    /* background-color: aqua; */
    margin: 10px 10px;
    display: flex;
    flex-direction: column;

}
.sidebarImgContainer {
    position: relative;
    width: 340px;
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: row;


  }
  
  .sidebarImg {
    border-radius: 5px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }
  

.sidebarImg:hover {
    overflow: hidden;

    transform: scale(1.2);

}

.sidebarItem {
    width: 80%;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.sidebarItem .title {
    margin-bottom: 10px;
    padding: 5px;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    width: 100%;
    text-align: center;
}


.sidebarList {
    list-style: none;
    margin-bottom: 10px;
}

.sidebarListItem {
    display: inline-block;
    width: 50%;
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
}

.sidebarSocial {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.sidebarSocial .sidebarIcon {
    font-size: 28px;
    cursor: pointer;
    color: #a7a4a4;
}

.sidebarSocial .sidebarIcon:hover {
    color: aqua;
}
@media screen and (max-width: 768px) {
    .sidebar{
        width: 450px;
        object-fit: cover;


     
    }

}