.header{
margin-top: 20px;
background-color: white;
margin-bottom: 20px;
/* background-color: aqua; */
}
.headerTitles{
    position: relative;
    display: flex;align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #bbb;
    font-family: "Lora";

}
.headerTitleSm{
    position: absolute;
    top:1px;
    font-size: 30px;
    color:#686363;
}
.headerTitleLg{
position: absolute;
top:15px; 
font-size: 100px;
}

.headerImg{
    width: 100%;
    height: calc(100vh - 100px);
    margin-top: 85px;
    object-fit: cover;
    overflow: hidden;
}