.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://png.pngtree.com/background/20210711/original/pngtree-geometric-abstract-background-with-blogs-picture-image_1166618.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .contact-form-container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Rest of the styles remain the same */
  

  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    background-color: purple;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .contact-form button:hover {
    background-color: rgb(236, 78, 236);
  }
  